@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    color: #434343;
    font-size: 2rem;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}

h2 {
    color: #8A53FF;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h3 {
    color: #434343;
    font-size: 1.35rem;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}

.guide {
    margin-bottom: 0.5rem;
}

.title {
    margin-bottom: 0.5rem;
}

.title h1 {
    font-size: 3rem;
}

P {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

a {
    color: #495367;
    font-size: 1.25rem;
    font-family: "Segoe UI", sans-serif;
    text-decoration: none;
}

a.active {
    color: #8A53FF;
    font-weight: 500;
}

button {
    color: #fff;
    background-color: #8A53FF;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

.play-arrow {
    font-variation-settings: 'FILL' 1;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
}

.wrapper .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    z-index: 10 ;
}

.wrapper .topbar .topbar-body {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.wrapper .topbar-body .topbar-logo {
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .topbar-body .topbar-menu {
    float: right;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper .topbar-menu .topbar-section:last-child {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 2px solid #EEE;
}

.wrapper .topbar-menu .topbar-section:last-child button {
    padding: 0;
    background-color: unset;
}

.wrapper .header {
    width: 100vw;
    height: 74vh;
    margin-top: 5rem;
    background-image: url("../img/background_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .header .header-body {
    width: 50%;
    height: 100%;
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0));
}

.wrapper .header-body .header-title {
    width: 75%;
}

.wrapper .header-body .header-title h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;
}

.wrapper .header-body .header-title h1 span {
    color: #8A53FF;
}

.wrapper .header-body .header-text {
    width: 65%;
    margin-bottom: 1.5rem;
}

.wrapper .header-body .header-text p {
    font-size: 1.5rem;
}

.wrapper .header-body .header-action {
    display: flex;
    align-items: center;
}

.wrapper .header-body .header-action button:nth-child(1) {
    display: flex;
    align-items: center;
    height: 65%;
}

.wrapper .header-body .header-action button:nth-child(2) {
    color: #434343;
    background-color: unset;
    display: flex;
    align-items: center;
}

.wrapper .header-body .header-action button:nth-child(2) span {
    color: #8A53FF;
    background-color: #8A53FF1F;
    border-radius: 100px;
    padding: 0.35rem;
    font-size: 2.25rem;
    margin-right: 0.5rem;
}

.wrapper .blog {
    width: 100vw;
    height: 65vh;
}

.wrapper .blog .blog-body {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.wrapper .blog-body .blog-img {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .blog-body .blog-info {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.wrapper .blog-info .blog-text {
    width: 85%;
    margin-bottom: 0.5rem;
}

.wrapper .blog-info .blog-text p {
    line-height: 2.5rem;
}

.wrapper .blog-info .blog-button button {
    padding: 0;
    display: flex;
    align-items: center;
    color: #8A53FF;
    background-color: unset;
}

.wrapper .blog-info .blog-button button>span {
    font-size: 2.75rem;
    margin-right: 0.5rem;
}

.wrapper .discover {
    width: 100vw;
    height: 75vh;
}

.wrapper .discover .discover-body {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .discover-body .guide, .wrapper .discover-body .title {
    text-align: center;
}

.wrapper .discover-body .discover-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
}

.wrapper .discover-cards .discover-card .discover-img img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}

.wrapper .discover-cards .discover-card .discover-title, .wrapper .discover-cards .discover-card .discover-a {
    text-align: center;
}

.wrapper .discover-cards .discover-card .discover-a a {
    color: #8A53FF;
}

.wrapper .share {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .share .share-body {
    width: 40%;
    height: 85%;
}

.wrapper .share-body .guide, .wrapper .share-body .title {
    text-align: center;
}

.wrapper .share-body .share-form {
    width: 100%;
    height: 80%;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 15px;
}

.wrapper .share-form .form-title {
    padding: 2rem 2rem 1rem 2rem;
}

.wrapper .share-form .form-text {
    color: #576074;
    line-height: 2rem;
    padding: 0rem 2rem 1.5rem 2rem;
}

.wrapper .share-form form {
    width: 91%;
    height: 73%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.wrapper .share-form input, .wrapper .share-form select, .wrapper .share-form textarea {
    width: 95%;
    padding: 1rem;
    font-size: 0.95rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.wrapper .share-form .form-select {
    width: 100.25%;
    position: relative;
    display: inline-block;
}

.wrapper .share-form select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper .share-form .form-select:after {
    content: "▼";
    color: grey;
    font-size: 12px;
    position: absolute;
    right: 0.15rem;
    top: 2.75rem;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    transform: translateY(-50%) scaleY(0.75);
  }

.wrapper .share-form textarea {
    resize: none;
    height: 35%;
}

.wrapper .share-body button {
    padding-left: 6rem;
    padding-right: 6rem;
}

.wrapper .recent {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .recent .recent-body {
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .recent-body .guide, .wrapper .recent-body .title {
    text-align: center;
}

.wrapper .recent-body .recent-cards {
    width: 100%;
    height: 80%;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.wrapper .recent-cards .recent-main-card {
    float: left;
    width: 40.25%;
    height: 90%;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.wrapper .recent-main-card .recent-info {
    position: relative;
    padding: 1rem;
}

.wrapper .recent-main-card .recent-info .recent-text {
    position: absolute;
    top:0.75rem;
    left: 1rem;
}

.wrapper .recent-main-card .recent-info .recent-text p {
    width: 83%;
    margin-top: 0.5rem;
    color: #576074;
    font-size: 1rem;
    line-height: 1.5rem;
}

.wrapper .recent-main-card .recent-info .recent-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.wrapper .recent-main-card .recent-info .recent-button button {
    padding: 0;
    color: #8A53FF;
    background-color: unset;
}

.wrapper .recent-main-card .recent-info .recent-button span {
    font-size: 4rem;
}

.wrapper .recent-cards .recent-another-cards {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 90%;
}

.wrapper .recent-another-cards .recent-card {
    width: 90%;
    height: 30%;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.wrapper .recent-another-cards .recent-card .recent-img {
    float: left;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .recent-another-cards .recent-card .recent-info {
    float: right;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.wrapper .recent-another-cards .recent-card .recent-info h3 {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.wrapper .recent-another-cards .recent-card .recent-info p {
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1rem;
    color: #576074;
    line-height: 1.5rem;
}

.wrapper .recent-another-cards .recent-card .recent-info p>a {
    font-size: 1rem;
    color: #8A53FF;
}

.wrapper .footer {
    width: 100vw;
    height: 9vh;
}

.wrapper .footer .footer-body {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .footer-body .footer-copy {
    color: #939EB4;
}

.wrapper .footer-body .footer-nav {
    width: 30%;
}

.wrapper .footer-nav .footer-sections {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .footer-sections .footer-section>a {
    color: #939EB4;
}